.car-item {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}

.car-item-col {
    margin-bottom: 3rem;
}

.car-item .car__title {
    font-family: Saira Condensed, open-sans;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.car-item .car__price {
    font-family: Saira Condensed, open-sans;
    font-size: 1.5rem;
    font-weight: 500;
}

.car-item .car__title > a:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ed6663;
    margin: 1rem 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: width .2s ease-in-out;
}

.car-item:hover .car__title > a:after {
    width: 100px;
}

.car-item:hover .car__thumbnail img {
    transform: scale(1.1);
}

.car-item .car__thumbnail img {
    transition: transform .4s ease-in-out;
    transform: scale(1);
}

.car-item .car__specification{
    border-top: 1px solid var(--bs-gray-300);
    margin-top: 2rem;
    padding-top: 1rem;
}

.car-item .car__s-item > .icon {
    color: var(--bs-gray-500);
    font-size: 14px;
    margin-bottom: 5px;
}

.car-item .car__s-item > .text {
    font-family: Saira Condensed, open-sans;
    color: var(--bs-gray-600);
    letter-spacing: .5px;
}

@media (min-width: 576px) {
    .car-grid > .row > .car-item-col:not(:nth-child(2n+0)) {
        border-right: 1px solid var(--bs-gray-300);
    }

    .car-grid > .row > .car-item-col:nth-child(2n+0) {
        border-right: none;
    }
}

@media (min-width: 768px) {
    .car-grid > .row > .car-item-col:not(:nth-child(3n+0)) {
        border-right: 1px solid var(--bs-gray-300);
    }

    .car-grid > .row > .car-item-col:nth-child(3n+0) {
        border-right: none;
    }
}

@media (min-width: 992px) {
    .car-grid > .row > .car-item-col:not(:nth-child(4n+0)) {
        border-right: 1px solid var(--bs-gray-300);
    }

    .car-grid > .row > .car-item-col:nth-child(4n+0) {
        border-right: none;
    }
}