.product {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.slick-arrow {
    border: none;
    background-color: rgba(0, 0, 0, 0.01);
    color: rgba(0, 0, 0, 0.6);
    height: fit-content;
    z-index: 1;
}

.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.product-contact {
    padding: 20px 0;
    padding-top: 50px;
}

.product-contact button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.product-contact button:nth-child(1) {
    background-color: #66cc66;
}

.product-contact button:nth-child(2) {
    background-color: #ed6663;
}

.product__info-head {
    padding-bottom: 24px;
    border-bottom: 1px solid #f4f4f4;
}

.product__info-head p {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color-dark);
    margin-bottom: 0;
}

.product__info-head h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color-dark);
    padding: 20px 0;
}

.product__info-head-contacts a {
    color: var(--text-color-dark);
    font-weight: 300;
}

.product__info-head-contacts a i {
    color: var(--main-color);
}

.product__info-body-price {
    font-size: 28px;
    color: #ed6663;
    font-weight: 600;
    padding: 20px 0;
}

.product__info-foot {
    padding-bottom: 20px;
    display: flex;
}

.product__info-body-table {
    font-size: 14px;
}

.product__info-foot-icon {
    margin-right: 12px;
    font-size: 18px;
    color: var(--bs-gray-600);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #e6e4e4;
    transition: all 0.2s ease-in-out
}

.product__info-foot-icon:hover {
    background-color: rgba(48, 114, 213, 0.9);
    color: #fff;
}

.product__collateral {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.product__collateral-head ul {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #f4f4f4;
}

.product__collateral-head ul li {
    margin-right: 20px;
    padding-bottom: 8px;
    font-weight: 500;
    position: relative;
}

.product__collateral-head ul li .btn:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 10px;
    background-color: var(--main-color);
    transform: skew(-30deg);
    bottom: 0;
    left: 0;
    transition: width .3s;    
}

.product__collateral-head ul li .btn.active:after, .product__collateral-head ul li .btn:hover:after {
    width: 100%;
}

.product__collateral-head ul li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: var(--main-color);
    transform: skew(-30deg);
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product__collateral-head ul li:hover::before {
    display: block;
}

.related__pro {
    background-color: #fff;
    border-radius: 5px;
}

.related__pro-list {
    padding: 20px 0;
}

.related__pro-card {
    text-align: center;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.05);
}

.related__pro-card-img {
    overflow: hidden;
    position: relative;
}

.related__pro-card-option {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.5s ease-in-out;
}

.related__pro-card-option div {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0px 10px #000;
    margin: 4px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.related__pro-card-option div:hover {
    background-color: var(--text-color-dark);
    color: #fff;
}

.related__pro-card-img:hover.related__pro-card-img img {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
}

.related__pro-card-img:hover .related__pro-card-option {
    display: flex;
    z-index: 2;
}

.related__pro-card h3 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
}

.related__pro-card h3::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 5px;
    background-color: #ed6663;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.related__pro-card p {
    color: #ed6663;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.related__pro-card-foot {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.card-foot-item {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #777;
}

.related__pro-head {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
}

.related__pro-head h3 {
    margin: 0;
    height: 50px;
    background-color: var(--main-color);
    line-height: 50px;
    padding: 0 30px;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

.related__pro-head h3::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: var(--main-color) transparent transparent transparent;
}

.product .product-contact .btn {
    color: #fff;
    text-transform: uppercase;
}

.product .btn-call {
    background: #66cc66;
    border-bottom: 3px #43a643 solid;
}

.product .btn-email {
    background: #ed6663;
    border-bottom: 3px #d23b37 solid;
}

.product__title {
    font-weight: 500;
    font-size: 2.5rem;
    margin: .7rem 0;
}

.product__brand {
    font-size: .8rem;
}

/* SPEC TABLE */
.spec-table>tbody>tr, .spec-sub-ctr table>tbody>tr {
    width: 50%;
    float: left;
    font-size: 14px;
    padding: 14px 12px;
}

@media(max-width: 768px) {
    .spec-table>tbody>tr, .spec-sub-ctr table>tbody>tr {
        width: 100%;
    }
}

.spec-table>tbody>tr.odd {
    background-color: #f8f8f8;
}

.spec-table tr > th {
    color: var(--bs-gray-700);
    position: relative;
    width: 50%;
    float: left;
    font-weight: normal;
    border: none;
    padding: 0;
}

.spec-table.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: var(--bs-gray-700);
}

.spec-table tr > td {
    color: var(--bs-gray-700);
    padding-right: 19px;
    width: 50%;
    float: left;
    position: relative;
    border: none;
    padding: 0;
}

.spec-table tr > td:before {
    content: ':';
    position: absolute;
    font-weight: 300;
    top: 0;
    color: #999;
    left: -15px;
}

.spec-table tr:nth-child(3), .spec-table tr:nth-child(4), .spec-table tr:nth-child(7), .spec-table tr:nth-child(8), .spec-table tr:nth-child(11), .spec-table tr:nth-child(12) {
    background-color: #f8f8f8;
}

/* COMMENT */
.comment-item .comment-item__avatar {
    width: 75px;
    border-radius: 100%;
    overflow: hidden;
}

.comment-item {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
}

.comment-item .comment-item__left {
    margin-right: 1.5rem;
}

.comment-item p {
    font-size: 13px;
}

.comment-item .comment-item__meta {
    font-size: 15px;
    margin-bottom: .5rem;
}

.comment-item span.comment-item__datetime {
    color: var(--bs-gray-600);
    font-size: 13px;
}

@media(max-width: 575.98px) {
    .comment-item {
        display: block;
    }

    .comment-item .comment-item__left {
        float: left;
    }
}

#commentForm {
    font-size: 13px;
}