/* HOME SLIDER */
#homeSlider .slider-item .slider-item__wrapper {
    position: relative;
    padding-top: 42%;
}

#homeSlider .slider-item__bg, .slider-item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#homeSlider .slider-item__bg {
    background-size: cover;
    background-position: center;
}

#homeSlider .slick-slider {
    position: relative;
}

#homeSlider .slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 2.3rem;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

#homeSlider:hover .slick-slider .slick-arrow {
    opacity: 1;
}

#homeSlider .slick-slider .slick-arrow.slick-prev {
    left: 1rem;
}

#homeSlider .slick-slider .slick-arrow.slick-next {
    right: 1rem;
}

#homeSlider .slick-slider .slick-arrow.slick-disabled {
    opacity: 0;
}

/* CAR TYPE SLIDER */
#carTypeSlider .car-type-item:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

/* POPULAR BRANDS */
#popularBrandsSlider .slick-slider {
    margin-left: -0.5rem!important;
    margin-right: -0.5rem!important;
}
/* HEADING STYLE -- END */

.bestsellercars__down{
    background: #ffffff;
}

.gridcar{
    height: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid var(--bs-gray-300)
}

.gridcar>h5, .gridcar>p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
}

.gridcar>p{
    font-size: 25px;
}

.gridcar a img{
    transition: 0.3s;
    transition-delay: 0.2s;
}

.gridcar a:hover img{
    transform: scale(110%);
}

.gridcar .line{
    height: 3px;
    width: 30px;
    background: #ed6663;
}

.gridcar .state{
    background: #ed6663;
    position: absolute;
    left: 20px;
    border-radius: 5px;
    color: #ffffff;
    z-index: 999;
    font-size: 12px;
    padding: 3px 10px;
}

.gridcar .info{
    gap: 40px;
    width: 90%;
    border-top: 1px solid var(--bs-gray-300);
    margin: 0 10px;
}

.gridcar .info p{
    font-family: 'Saira Condensed', sans-serif;
}

.gridcar .boxicon{
    position: absolute;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    top: 20%;
    transition: 0.3s;
    transition-delay: 0.2s;
}

.gridcar .boxicon a{
    color: #121212;
    display: block;
    width: 50px;
    height: 50px;
    background: #ffffff;
    display: grid;
    place-items: center;
    transform: rotate(45deg);
    transition: 0.25s;
}

.gridcar .boxicon i{
    transform: rotate(-45deg);
}

.gridcar:hover .boxicon{
    visibility: visible;
    opacity: 1;
}

.gridcar .boxicon a:hover{
    background: #23292e;
    color: #ffffff;
}

/* .slick-prev{
    position: absolute;
    right: 4%;
    top: -13%;
    z-index: 99;
}

.slick-next{
    position: absolute;
    right: 1%;
    top: -13%;
    z-index: 99;
} */
/* 
.section__header .slick-next, .section__header .slick-prev{
    width: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #666;
    transition: 0.25s;
    background: #ffffff;
} */

.section__header .slick-next:hover, .section__header .slick-prev:hover{
    color: #333;
}
/* 
.bestsellercars__up1{
    height: 70px;
    background: rgb(229, 229, 229);
    padding: 0px;
} */

.section__heading1{
    background: #50b2fc;
    color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    width: 20%;
}

.section__heading1 h2{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.section__heading1 h2:after{
    content: '';
    transform: skew(-35deg);
    position: absolute;
    width: 100px;
    height: 70px;
    top: 0;
    left: 190px;
    background: #50b2fc;
    z-index: -1;
}

/* .section__header{
    height: 70px;
    background: #fff;
    padding: 0px;
} */

.section__heading2{
    background: #23292e;
    color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    width: 20%;
}

.section__heading2 h2{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    z-index: 1;
}

.section__heading2 h2:after{
    content: '';
    transform: skew(-35deg);
    position: absolute;
    width: 100px;
    height: 70px;
    top: 0;
    left: 190px;
    background: #23292e;
    z-index: -1;
}

/* .section__header .slick-prev{
    position: absolute;
    right: 4%;
    top: -32%;
    z-index: 99;
} */

/* .section__header .slick-next{
    position: absolute;
    right: 1%;
    top: -32%;
    z-index: 99;
} */

.section__header .slick-next, .section__header .slick-prev{
    width: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #666;
    transition: 0.25s;
    background: #f5f5f5;
}

.section__header .slick-next:hover, .section__header .slick-prev:hover{
    color: #333;
}

.borderbrands{
    border: 1px solid rgb(229, 229, 229);
}

.backgroundimage{
    background-image: url(https://klbtheme.com/harrier/wp-content/uploads/2019/05/testimonials-bg-img1.jpg?id=850);
    height: 500px;
    width: 100%;
    background-position: bottom;
}

@media screen and (max-width: 1200px){
    .section__heading h2{
        font-size: 20px;
    }

    .section__heading1 h2{
        font-size: 20px;
    }

    .section__heading1 h2:after{
        left: 160px;
    }

    .section__heading2 h2{
        font-size: 20px;
    }

    .section__heading2 h2:after{
        left: 160px;
    }

    .slick-prev{
        right: 5%;
        top: -14%;
    }
    
    .slick-next{
        right: 1%;
        top: -14%;
    }

    .section__header .slick-prev{
        right: 5%;
        top: -32%;
    }
    
    .section__header .slick-next{
        right: 1%;
        top: -32%;
    }

    .boxicon a{
        width: 40px;
        height: 40px;
    }

    .boxicon{
        gap: 17px;
    }
}

@media screen and (max-width: 991px){
    .section__heading h2{
        font-size: 18px;
    }

    .section__heading{
        width: 30%;
    }
    .section__heading1 h2{
        font-size: 18px;
    }

    .section__heading1{
        width: 30%;
    }

    .section__heading1 h2:after{
        left: 150px;
    }

    .section__heading2 h2{
        font-size: 18px;
    }

    .section__heading2{
        width: 30%;
    }

    .section__heading2 h2:after{
        left: 150px;
    }

    .section__header .slick-prev{
        right: 6%;
        top: -32%;
    }
    
    .section__header .slick-next{
        right: 1%;
        top: -32%;
    }

    .gridcar h5{
        font-size: 18px;
    }

    .gridcar>p{
        font-size: 20px;
    }

    .gridcar i{
        font-size: 15px
    }

    .gridcar .info{
        gap: 10px
    }

    .gridcar .boxicon a{
        width: 35px;
        height: 35px;
    }

    .gridcar .boxicon {
        gap: 15px;
    }
}

@media screen and (max-width: 767px){
    .section__heading h2{
        font-size: 16px;
    }

    .section__heading{
        width: 30%;
    }

    .section__heading1 h2{
        font-size: 16px;
    }

    .section__heading1{
        width: 30%;
    }

    .section__heading1 h2:after{
        left: 130px;
    }
    .section__heading2 h2{
        font-size: 16px;
    }

    .section__heading2{
        width: 30%;
    }

    .section__heading2 h2:after{
        left: 130px;
    }

    .gridcar h5{
        font-size: 14px;
    }

    .gridcar>p{
        font-size: 18px;
    }

    .gridcar i{
        font-size: 13px
    }

    .gridcar .info p{
        font-size: 13px;
    }

    .gridcar .info{
        gap: 5px
    }

    .gridcar .boxicon a{
        width: 30px;
        height: 30px;
    }

    .gridcar .boxicon {
        gap: 13px;
    }
}

@media screen and (max-width: 575px){
    .section__heading h2{
        font-size: 14px;
    }
    
    .section__heading{
        width: 35%;
    }

    .section__heading1 h2{
        font-size: 14px;
    }
    
    .section__heading1{
        width: 35%;
    }
    
    .section__heading1 h2:after{
        left: 130px;
    }

    .section__heading2 h2{
        font-size: 14px;
    }
    
    .section__heading2{
        width: 35%;
    }
    
    .section__heading2 h2:after{
        left: 130px;
    }
}

@media(max-width: 768px) {
    #homeSlider .slider-item .slider-item__wrapper {
        padding-top: 54%;
    }
}

@media(max-width: 546px) {
    #homeSlider .slider-item .slider-item__wrapper {
        padding-top: 80%;
    }
}